body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color:lightgrey;
    min-width: 800px;
    max-width: 1600px;  
    background-color: gray;      
    min-height: 80%;
}


#back-button{
    background-color: rgb(39, 129, 79);
    color: lightgray;
    min-width: 70px;
    min-height: 35px;
    text-align: center;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.visualize{
    border: black 5px dashed;
}

#grad{
    background-image: linear-gradient(to bottom right,#c0ad8c, gray );
    background-repeat: no-repeat;
}

#landing-bg{
    background-image: url(/jonbbagby/images/computer.jpg);
    opacity: 0.75;

}

.inline{
    display: inline-block !important;
}

.center {
    display: flex;
    margin: auto;
    width: 50%;
    border: 3px solid chart;
    padding: 10px;
}

.big-n-bold{
    font-size: 2em;
    font-weight: 700;
}

.med-n-bold{
    font-size: 1.5em;
    font-weight: 700;
}

.screen-shot{
    max-height: 400px;
    max-width: 400px;
    padding: 25px
}

.centered{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

a{
    text-decoration: none;
    color: lightgray;
    font-size: 16px;
}

.plain{
    list-style: none;
    padding-bottom: 25px;
    text-align: center;
}

.container{
    margin: auto;
    width: 80%;
    overflow: hidden;
}

.icon{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    
}

.contact-icon {
    max-width: 40px;
}

.small-icon{
    height: 75px;
    border-radius: 10px;
}

.collapse{
    visibility: collapse;
}

/* HEADER */
header{
    background-color: rgb(48, 63, 51);
    padding: 0;
    min-height: 120px;
    border-bottom: #875d48 7px solid;
}

#name-plate{
    float: left;
}


.navigation{
    margin-left: 50%;
    padding-top: 10px;
    /* display: inline; */
}
.navigation li{
    display: inline;
    margin: 10px
}

.navigation ul{
    list-style-type: none;
    
}

.navigation :hover{
    color:rgb(126, 211, 143)
}

.current{
    color: rgb(119, 226, 43);
    /* font-size: 24px; */
    font-weight: bolder;
}

/* FOOTER */
footer{
    text-align: center;
    margin-top: 250px;
    background-color: gray;
    max-height: 50px;
}


/*  INDEX MAIN */
.main{
    padding: 20px 0 20px 0 ;
    /* background-color: #c0ad8c; */
    min-height: 400px;
    /* border-bottom: #c0ad8c 7px solid; */
}
/* content */
#headshot, .words {
    border-color: darkolivegreen solid 5px;
    border-radius: 5px;
    min-height: 556px

}

#headshot{
    max-width: 100%;
    margin-left: auto;
    border-radius: 10px;
    border-width: 5px;
}

#main-image{
    width:50%;
    float: left;
}

#main-info{
    width: 50%;
    float: right;
    color: rgb(48, 63, 51)
}

#main-info a{
    color: rgb(62, 128, 62)    
}

#main-info p::first-line{
    font-size: 20px;
    font-weight: bold;
    color:rgb(82, 149, 96)
}

#intent-statement{
    width: 400px;
}

.row{
    display: inline-flex;
    width: 75%;
    margin: 0 50px 0 50px;
    padding: 10px;
    justify-content: center;
    
}

.col{
    color: rgb(0, 41, 0);
    width: 30%;
    display: inline-flex;
    margin-left: 50px;
}

/* SKILLS */

.center-section{
    text-align: center;
}

.viz-table {
    width: 50%;
    border: black 2px solid
}

.skills-column p{
    padding-bottom: 10px;
}
/* .project-table > td{
    width: 50%;
    border: black 2px solid
} */

/* Sample images */

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover{
    max-width: 1200px;
    max-height: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.words{
    border: 3px solid darkolivegreen;
    border-radius: 7px;
}

.btn{
    margin: 1px;
}

/* tab-pane section */
#tab-header {
    padding-right: 0px;
    text-align: right;
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: 0 0;
    min-width: 600px;
    margin-left: -10px;
    margin-top: 0px
}

.tab-content {
    margin: -50px -15px 0px 50px;
}

.tab-1, .tab-2, .tab-3 {
background: pink;
}

.tab-btn {
border: 2px solid lightgray !important;
padding: 10px !important;
}

.tab-panel.hidden {
    display: none;
}

.tab-panel{
    margin-top: 15px
}

.active.tab-btn {
    /* display: inline; */
    background: lightblue !important;
}